# ==============================================================================
# AWS CONFIGURATION (Required for Topic Analysis)
# ==============================================================================

AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY
# AWS_SESSION_TOKEN=optional_session_token
# AWS Region (default: us-west-2)
AWS_DEFAULT_REGION=Region

# ==============================================================================
# HuggingFace TOKEN 
# ==============================================================================
#HuggingFace token
HF_TOKEN=your_HF_TOKEN

# ==============================================================================
# MINIO CONFIGURATION (Required for file synchronization)
# ==============================================================================

# MinIO Access Credentials
export MINIO_ACCESS_KEY="your_access_key_here"
export MINIO_SECRET_KEY="your_secret_key_here"

